@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --bgColor: rgb(24, 16, 36);
    --secondaryBgColor: rgb(72, 50, 106);
    --secondaryLink: rgb(152, 154, 241);
    --topnavBG: rgb(85, 41, 151);
    --textColor: rgb(231, 231, 231);
}

body {
    background-color: var(--bgColor);
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    height: 100vh;
    font-family: Ubuntu;
}

#logo {
    align-self: center;
    text-align: center;
    margin: auto;
    font-size: 70px;
    font-family: Tinos;
}

#topnav {
    width: 100%;
    height: 75px;
    font-size: 45px;
    background-color: var(--topnavBG);
    display: flex;
    justify-content: space-evenly;
}

#topnav>span {
    padding: 10px;
    user-select: none;
    transition: 200ms;
    border-radius: 10px;
    color: white;
}

#topnav>span>a {
    text-decoration: none;
    color: inherit;
}

#topnav>span:hover {
    background-color: rgba(0, 0, 0, 0.284);
}

main {
    margin: 25px;
    font-size: 25px;
    flex-grow: 1;
}

main>#ip {
    font-size: 28px;
    margin-top: 25px;
}

main>#ip>span {
    background: var(--secondaryBgColor);
    padding: 5px;
    font-family: monospace;
    border-radius: 10px;
}

footer {
    height: 50px;
    width: calc(100% - 60px);
    background-color: var(--secondaryBgColor);
    position: relative;
    margin-top: auto;
    padding: 30px;
    font-size: 22px;
}

footer>a {
    color: var(--secondaryLink)
}